@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<img class="bronco-pic" src="~/Images/BuckingBronco.png"/>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Whoops partner, you just got bucked off by an error!</h2>

